@page "/eliminarProducto"

<PageTitle>Eliminar Productos</PageTitle>

<section id="eliminarProducto">
    <h2>Eliminar Productos</h2>
    <input type="text" name="search" id="searchbar">
    <input type="button" value="Buscar">
    <div class="custom-productContainer">
        <article class="custom-product">
            Producto
            <input type="button" class="custom-redButton" value="Eliminar Producto">
        </article>
        
    </div>

</section>

@code {
   
}
