@page "/verPedido"
@using ProyectoModelado2024.BD.Data.Entity
@using ProyectoModelado2024.Client.Servicios
@inject IHttpServicios http

<PageTitle>Crear Pedido</PageTitle>

<section id="crearPedido">

    <h2>Tu Pedido</h2>

    <div class="order-container">
        <article class="ordered-product-card">
            <div class="name-container">Keo Wa Sekkusu Chitaí</div>
            <div class="order-actions">
                <p>X</p>
                <input type="number" class="ordered-quantity" value="0" min="0" max="99">
                <button class="delete-ordered-product-button">X</button>
            </div>
        </article>
        <article class="ordered-product-card">
            <div class="name-container">Keo Wa Sekkusu Chitaí</div>
            <div class="order-actions">
                <p>X</p>
                <input type="number" class="ordered-quantity" value="0" min="0" max="99">
                <button class="delete-ordered-product-button">X</button>
            </div>
        </article>
        <article class="ordered-product-card">
            <div class="name-container">Keo Wa Sekkusu Chitaí</div>
            <div class="order-actions">
                <p>X</p>
                <input type="number" class="ordered-quantity" value="0" min="0" max="99">
                <button class="delete-ordered-product-button">X</button>
            </div>
        </article>
        <article class="ordered-product-card">
            <div class="name-container">Keo Wa Sekkusu Chitaí</div>
            <div class="order-actions">
                <p>X</p>
                <input type="number" class="ordered-quantity" value="0" min="0" max="99">
                <button class="delete-ordered-product-button">X</button>
            </div>
        </article>
        <article class="ordered-product-card">
            <div class="name-container">Keo Wa Sekkusu Chitaí</div>
            <div class="order-actions">
                <p>X</p>
                <input type="number" class="ordered-quantity" value="0" min="0" max="99">
                <button class="delete-ordered-product-button">X</button>
            </div>
        </article>
        <article class="ordered-product-card">
            <div class="name-container">Keo Wa Sekkusu Chitaí</div>
            <div class="order-actions">
                <p>X</p>
                <input type="number" class="ordered-quantity" value="0" min="0" max="99">
                <button class="delete-ordered-product-button">X</button>
            </div>
        </article>
        <article class="ordered-product-card">
            <div class="name-container">Keo Wa Sekkusu Chitaí</div>
            <div class="order-actions">
                <p>X</p>
                <input type="number" class="ordered-quantity" value="0" min="0" max="99">
                <button class="delete-ordered-product-button">X</button>
            </div>
        </article>
        <article class="ordered-product-card">
            <div class="name-container">Keo Wa Sekkusu Chitaí</div>
            <div class="order-actions">
                <p>X</p>
                <input type="number" class="ordered-quantity" value="0" min="0" max="99">
                <button class="delete-ordered-product-button">X</button>
            </div>
        </article>
    </div>



</section>

@code {
    
}
